sink-data/*
.vscode/
.idea/
Reference/

######################
##### Substreams #####
######################

**/target/
**/build/
**/data/
**/logs/dbt.log
**/logs/
**/*.spkg
**/buf.gen.yaml
replay.log
Cargo.lock
