[workspace]
members = [
    "common",
    "compound-v2",
    "erc20-holdings",
    "erc20-price",
    "erc20-market-cap",
    "erc721",
    "substreams-helper",
    "uniswap-v2"
]

[workspace.dependencies]
substreams = "~0.0.20"
substreams-ethereum = "0.2.2-rc.2"

[profile.release]
lto = true
opt-level = 's'
strip = "debuginfo"